@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Indie+Flower&family=Kanit:wght@400;500&family=Merriweather:wght@400;700&family=Poppins:wght@400;500&family=Roboto+Slab:wght@500&family=Sora:wght@100&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Style for Top Banner */
.Top-banner {
    Width: 800px;
    Height: 370px;
    padding: 40px;
    background-color: #161616;
    margin: 40px auto;
    border-radius: 20px;
    display: flex;
    gap: 20px;
}

.about-banner {
    color: #FFFFFF;
    width: 100%;
    margin-top: initial;

}

.player {
    width: 100%;
    margin-top: 40px;

}

.player img {
    height: 370px;
}

.about-banner h2 {
    font-weight: 600;
    font-size: 45px;

}

.about-banner p {
    margin-top: -39px;
}


.button-style {
    font-size: medium;
    background-color: rgb(130, 247, 130);
    padding: 10px 20px;
    margin-bottom: 35px;
    border-radius: 15px;
    margin-bottom: 50px;
}

/* -------------------------
----------Middle-sectio-----
-------------------------- */


.middle-section {
    height: 900px;
    width: 870px;
    margin: 75px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



.for-nav {
    width: 190px;
    height: 200px;
    background-color: #161616;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: -5px;

}

.type-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-1 {
    background-color: #FFFFFF;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-2 {
    background-color: #FFFFFF;
    padding: 8px 35px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-3 {
    background-color: red;
    padding: 8px 45px;
    border-radius: 10px;
    cursor: pointer;
    color: #FFFFFF;
}

/* Blog-section */

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: -15px;
}

.blog {

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 10px;
    border-radius: 5px;

}

.blog-heading {
    margin: 10px;
}

.blog img {
    width: 210px;
    height: 100px;
}

.fa-clock {
    color: gray;

}

.fa-comment-dots {
    color: gray;
}

.duration {
    display: flex;
}

.comments {
    margin-left: 30px;
}

span {
    color: gray;
}

.blog span img {

    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 12.5%;
    bottom: 12.5%;

    border: 1.5px solid rgba(22, 22, 22, 0.8);
}

/* -----------------
    footer Section
   ------------------ */
.footer-section {
    background-color: #161616;
    height: 260px;
    margin: 0;
    padding: 0;

}

.footer-section h2 {
    color: #FFFFFF;
    text-align: center;
    padding-top: 7%;
}

hr {
    margin-left: 10%;
    margin-right: 10%;
    height: 0px;
    border: none;
    margin-top: 3%;
    border-top: .1px solid lightgrey;
}

.footer-container {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    gap: 35px;
    font-size: 16px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.fa-facebook,
.fa-youtube,
.fa-twitter,
.fa-instagram {
    color: #FFFFFF;
}